body {

}

.hidden {
  display: none;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.logo {
  background-color: #ffeb3b;
  margin: 5% -5%;
  padding: 3% 10%;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 4em;
}

.main-container {
  display: flex;
  flex-flow: column;
}

.search-div, .results-div, .analyzing {
  margin: 0 20%;
}

.url-input {
  display: grid;
  font-size: 16px;
  padding: 0 50px;
  line-height: 150%;
}

.submit-btn, .retry-btn {
  margin: 4% 0;
}
